RewriteEngine On

# Ensure mod_rewrite is enabled and working
RewriteCond %{HTTP_HOST} ^$

# Redirect / to /index.php
RewriteRule ^$ /index.php [L]
RewriteRule ^index/?$ /index.php [L]

# Redirect /login to /login.php
RewriteRule ^login/?$ /login.php [L]

# Redirect /blog to /blog/index.php
RewriteRule ^blog/?$ /blog/index.php [L]

# Redirect /blog/x to /blog/post.php?blog_id=x
RewriteRule ^blog/([0-9]+)/?$ /blog/post.php?blog_id=$1 [L,QSA]

