h2 {
    font-size: 150%;
    border-bottom: 1px solid black;
}

.blog-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.image-box{
    max-width: 100%;
    height: auto;
}
.full-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.photo-row{
    display: flex;
    flex-wrap: wrap;
}
.sixty-six-box{
    flex: 0 0 66.666667%;
    max-width: 100%;
    
}
.thirty-three-box{
    flex: 0 0 33.3333%;
    max-width: 100%;
    padding: 10px;
}
.section-heading{
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
}
@media (min-width:1200px){
    .blog-container{
        max-width: 1140px;
    }
}
.twenty-five-box{
    flex: 0 0 25%;
    max-width: 100%;
}
.vert-small-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
    background-color: #f9f9f9;
    margin: 0;
    object-fit: cover;
  }
.landscape-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    margin: 0;
    object-fit: cover;
}
.photo-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.para-2-row{
    display: flex;
    flex-wrap: wrap;
}
.title-row{
    display: flex;
    flex-wrap: wrap;
}
.para-1-row{
    display: flex;
    flex-wrap: wrap;
}
.para-3-row{
    display: flex;
    flex-wrap: wrap;
}
.fifty-box{
    flex: 0 0 50%;
    max-width: 100%;
    padding:5px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width:100%
}
.col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width:100%
}
.contact-form select,
.contact-form .form-control {
	font-size: 14px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form select:focus,
.contact-form .form-control:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form textarea {
	font-size: 14px;
	width: 100%;
	min-width: 100%;
	min-height: 120px;
	height: 120px;
	max-height: 180px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form textarea:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form button.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.contact-form button.filled-button:hover {
	background-color: #121212;
	color: #fff;    
}

.comment-block {
    margin-bottom: 30px; /* Adjusts space between each comment block */
    background-color: lightblue;
  }

.empty-container-before-comment {
    display: flex;
    align-items: center; /* Centers the items vertically */
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px; /* Adjust based on your design */
    background-color: #978d8d;
    padding: 0 10px;
  }
  
  .profile-pic {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* This creates the rounded corners */
    object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
    margin-right: 15px; /* Adds some space between the image and the text */
  }
  

  .comments{

    margin-bottom: 10px;
}

.comment{
    padding: 0 10px;
    padding-bottom: 10px;
}

.comment-info span {
    margin-right: 100%; /* Optional: adds some spacing between the name and timestamp */
  }
  
  .profile-section, .comment-info {
    flex-grow: 1; /* Allows these sections to grow */
}

.timestamp {
    flex-grow: 0; /* Prevents the timestamp from growing, aligning it to the right */
    white-space: nowrap; /* Keeps it from wrapping */
}