    /* </-tommy css codes here> */
    .main-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      min-height: 100vh;
      width: 100%;
      background-color: #f9f9f9;
    }
    
    .country-cover {
      align-items: center;
      justify-content: center;
      height: 70%;
      width: 60%;
      background-color: #f9f9f9;
      max-width: 100%;
      margin: 0;
      object-fit: cover;
    }
    .image-container {
      justify-content: center;
      align-self: stretch;
      align-items: center; /* Optional for vertical centering */
    }
    
    .landscape-photo{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
      width: 80vw;
      background-color: #f9f9f9;
      max-width: 70vw;
      max-height: 40vh;
      margin: 0;
      object-fit: cover;
    }
    .vert-small-photo{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 90%;
      background-color: #f9f9f9;
      margin: 0;
      object-fit: cover;
    }
    .photo-insert{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      width: 80%;
      background-color: #f9f9f9;
      max-width: 100%;
      margin: 0;
      object-fit: cover;
    }

    body {
      font-family: 'Poppins', sans-serif;
      overflow-x: hidden;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    p {
      margin-bottom: 0px;
      font-size: 20px;
      font-weight: 300;
      color: #4a4a4a;
      line-height: 24px;
    }
    a {
      text-decoration: none!important;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    
    h1,h2,h3,h4,h5,h6 {
      margin: 0px;
    }
    
    ul.social-icons li {
      display: inline-block;
      margin-right: 3px;
    }
    
    ul.social-icons li:last-child {
      margin-right: 0px;
    }
    
    ul.social-icons li a {
      width: 50px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      background-color: #eee;
      color: #121212;
      font-size: 18px;
      text-align: center;
      transition: all .3s;
    }
    
    ul.social-icons li a:hover {
      background-color: #f33f3f;
      color: #fff;
    }
    
    a.filled-button {
      background-color: #f33f3f;
      color: #fff;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 300;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
      transition: all 0.3s;
    }
    
    a.filled-button:hover {
      background-color: #121212;
      color: #fff;
    }
    
    .section-heading {
      text-align: left;
      border-bottom: 3px solid black;
    }
    
    .section-heading h2 {
      font-size: 38px;
      font-weight: 700;
      color: #1e1e1e;
      margin-bottom: 15px;

    }
    
    .page-heading {
      padding: 50px 0px 130px 0px;
      text-align: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .page-heading .text-content h4 {
      color: black;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: 'Times New Roman', Times, serif;
    }
    .page-heading .text-content h1 {
      color: black;
      font-size: 72px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 15px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .page-heading .text-content p {
      color: red;
      font-size: 202px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: Im
    }
    
    
    .page-heading .text-content h2 {
      color: #fff;
      font-size: 62px;
      text-transform: uppercase;
      letter-spacing: 5px;
      ;
    }

    
    
   
    
    @-webkit-keyframes jumper {
      0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      5% {
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
      }
    }
    
    @keyframes jumper {
      0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      5% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    
    /* Header Style */
    header {
      position: absolute;
      z-index: 99999;
      width: 100%;
      height: 80px;
      background-color: #232323;
      -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    header .navbar {
      padding: 17px 0px;
    }
    .background-header .navbar {
      padding: 17px 0px;
    }
    .background-header {
      top: 0;
      position: fixed;
      background-color: #fff!important;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    }
    .background-header .navbar-brand h2 {
      color: #121212!important;
    }
    .background-header .navbar-nav a.nav-link {
      color: #1e1e1e!important;
    }
    .background-header .navbar-nav .nav-link:hover,
    .background-header .navbar-nav .active>.nav-link,
    .background-header .navbar-nav .nav-link.active,
    .background-header .navbar-nav .nav-link.show,
    .background-header .navbar-nav .show>.nav-link {
      color: #f33f3f!important;
    }
    .navbar .navbar-brand {
      float: 	left;
      margin-top: -12px;
      outline: none;
    }
    .navbar .navbar-brand h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    .navbar .navbar-brand h2 em {
      font-style: normal;
      color: #f33f3f;
    }
    #navbarResponsive {
      z-index: 999;
    }
    .navbar-collapse {
      text-align: center;
    }
    .navbar .navbar-nav .nav-item {
      margin: 0px 15px;
    }
    .navbar .navbar-nav a.nav-link {
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #fff;
      transition: all 0.5s;
      margin-top: 5px;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
      color: #fff;
      padding-bottom: 25px;
      border-bottom: 3px solid #f33f3f;
    }
    .navbar .navbar-toggler-icon {
      background-image: none;
    }
    .navbar .navbar-toggler {
      border-color: #fff;
      background-color: #fff;	
      height: 36px;
      outline: none;
      border-radius: 0px;
      position: absolute;
      right: 30px;
      top: 20px;
    }
    .navbar .navbar-toggler-icon:after {
      content: '\f0c9';
      color: #f33f3f;
      font-size: 18px;
      line-height: 26px;
      font-family: 'FontAwesome';
    }
    
  
    
    /* Latest Produtcs */
    
    .latest-products {
      margin-top: 100px;
    }
    
    .section-heading a {
      float: right;
      margin-top: -35px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      color: #f33f3f;
    }
    
    .product-item {
      border: 1px solid #eee;
      margin-bottom: 30px;
    }
    
    .product-item .down-content {
      padding: 30px;
      position: relative;
    }
    
    .product-item img {
      width: 100%;
      overflow: hidden;
    }
    
    .product-item .down-content h4 {
      font-size: 17px;
      color: #1a6692;
      margin-bottom: 20px;
    }
    
    .product-item .down-content h6 {
      font-size: 18px;
      margin-bottom: 15px;
      color: #121212;
    }
    
    .product-item .down-content h6 small{
      color: #999;
    }
    
    .product-item .down-content p {
      margin-bottom: 20px;
    }
    
    .product-item .down-content ul li {
      display: inline-block;
    }
    
    .product-item .down-content ul li i {
      color: #f33f3f;
      font-size: 14px;
    }
    
    .product-item .down-content span {
      position: absolute;
      right: 30px;
      bottom: 30px;
      font-size: 13px;
      color: #f33f3f;
      font-weight: 500;
    }
    
    .product-item .down-content span a {
      color: #f33f3f;
      display: inline-block;
      margin-bottom: 3px;
    }
    
    .modal-dialog { 
      margin-top: 10%; 
    }
    

    /* Product Page */
    
    .products {
      margin-top: px;
      align-self: stretch;
    }
    
    .products .filters {
      text-align: center;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 60px;
    }
    
    .products .filters li {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      color: #121212;
      display: inline-block;
      margin: 0px 10px;
      transition: all .3s;
      cursor: pointer;
    }
    
    .products .filters ul li.active,
    .products .filters ul li:hover {
      color: #f33f3f;
    }
    
    .dropdown-menu { 
      border-radius: 0;
    }
    
    .dropdown-item { 
      padding: .5rem 1.5rem; 
    }
    
    .page-heading {
      position:relative;
      align-self: center;
      width: 100vw;
      height: 100vh;
    }
    .page-heading:before {
      content:'';
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background-color:rgba(0,0,0,0);
    }
    .page-heading .container {
      position:relative;
      z-index: 2;
    }
    .page-heading-2 {
      position:relative;
      align-self: center;
      width: 70vw;
      height: 50vh;
    }
    .page-heading-2:before {
      content:'';
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background-color:rgba(0,0,0,0);
    }
    .page-heading-2 .container {
      position:relative;
      z-index: 2;
    }
    .products ul.pages {
      margin-top: 30px;
      text-align: center;
    }
    
    
    .products ul.pages li {
      display: inline-block;
      margin: 0px 2px;
    }
    
    .products ul.pages li a {
      width: 44px;
      height: 44px;
      display: inline-block;
      line-height: 42px;
      border: 1px solid #eee;
      font-size: 15px;
      font-weight: 700;
      color: #121212;
      transition: all .3s;
    }
    
    .products ul.pages li a:hover,
    .products ul.pages li.active a {
      background-color: #f33f3f;
      border-color: #f33f3f;
      color: #fff;
    }

    /*filter table css*/
    .last\:mb-8:last-child {
      margin-bottom:2rem
    }
    .mb-8 {
      margin-bottom:2rem
    }
    .md\:mb-8 {
      margin-bottom:2rem
    }
    .lg\:mb-8 {
      margin-bottom:2rem
    }
    .my-8 {
      margin-top: 2rem;
      margin-bottom:2rem
    }
    .md\:my-8 {
      margin-top: 2rem;
      margin-bottom:2rem
    }
    .md\:mb-2 {
      margin-bottom:.5rem
    }
    .lg\:mb-2 {
      margin-bottom:.5rem
    }
    .mb-2 {
      margin-bottom:.5rem
    }
    .lg\:pr-8 {
      padding-right:2rem
    }
    .pr-8 {
      padding-right:2rem
    }
    .-mt-1 {
      margin-top:-.25rem
    }
    .mt-1\.5 {
        margin-top:.375rem
    }
    .-mb-4 {
      margin-bottom:-1rem
    }
    .mb-4 {
      margin-bottom:1rem
    }
    .last\:mb-4:last-child {
      margin-bottom:1rem
    }
    .md\:mb-4 {
      margin-bottom:1rem
    }

    

    /* Find Us */
    
    .find-us {
      margin-top: 100px;
    }
    
    .find-us p {
      border-bottom: 1px solid #eee;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    
    .find-us h4 {
      font-size: 17px;
      color: #1a6692;
      margin-bottom: 20px;
    }
    
    .find-us .left-content {
      margin-left: 30px;
    }
    
    
    
    /* Send Message */
    
    .send-message {
      margin-top: 100px;
      align-self: stretch;
    }
    
    .contact-form select,
    .contact-form .form-control {
      font-size: 14px;
      width: 100%;
      height: 44px;
      display: inline-block;
      line-height: 42px;
      border: 1px solid #eee;
      border-radius: 0px;
      margin-bottom: 30px;
    }
    
    .contact-form select:focus,
    .contact-form .form-control:focus {
      box-shadow: none;
      border: 1px solid #eee;
    }
    
    .contact-form textarea {
      font-size: 14px;
      width: 200%;
      min-width: 150%;
      min-height: 300px;
      height: 2200px;
      max-height: 3000px;
      border: 1px solid #eee;
      border-radius: 0px;
      margin-bottom: 30px;
    }
    
    .contact-form textarea:focus {
      box-shadow: none;
      border: 1px solid #eee;
    }
    
    .contact-form button.filled-button {
      background-color: rgb(227, 160, 36);
      color: #fff;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 300;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
      transition: all 0.3s;
      border: none;
      outline: none;
      cursor: pointer;
    }
    
    .contact-form button.filled-button:hover {
      background-color: #121212;
      color: #fff;
    }
    
    .accordion {
      margin-left: 30px;
    }
    
    .accordion a {
      cursor: pointer;
      font-size: 17px;
      color: #1a6692!important;
      margin-bottom: 20px;
      transition: all .3s;
    }
    
    .accordion a:hover {
      color: #f33f3f!important;
    }
    
    .accordion a.active {
      color: #f33f3f!important;
    }
    
    .accordion li .content {
      display: none;
      margin-top: 10px;
    }
    
    .accordion li:first-child {
      border-top: 1px solid #eee;
    }
    
    .accordion li {
      border-bottom: 1px solid #eee;
      padding: 15px 0px;
    }
    
    .section-background { 
      background: #f1f1f1; 
    }
    
    .section {
      padding: 30px 0;
    }
    
    .section p {
      margin-bottom: 15px;
    }
    
    .section .section-heading {
      margin-bottom: 45px;
    }
    
    
    /* Responsive Style */
    @media (max-width: 768px) {
      .banner .text-content {
        width: 90%;
        margin-left: 5%;
      }
      .banner .text-content h4 {
        font-size: 22px;
      }
    
      .banner .text-content h2 {
        font-size: 36px;
        letter-spacing: 0.5px;
      }
      .banner-item-01,
      .banner-item-02,
      .banner-item-03 {
        padding: 180px 0px;
      }
      .page-heading .text-content h4 {
        font-size: 22px;
      }
    
      .page-heading .text-content h2 {
        font-size: 36px;
        letter-spacing: 0.5px;
      }
      .section-heading a {
        float: none;
        margin-top: 0px;
        display: block;
        margin-bottom: 20px;
      }
      .product-item .down-content h4 {
        margin-bottom: 20px!important;
      }
      .best-features .left-content {
        margin-bottom: 30px;
      }
      .call-to-action .inner-content {
        text-align: center;
      }
      .call-to-action .inner-content .filled-button {
        text-align: center;
        width: 100%;
        margin-top: 20px;
      }
      .about-features img {
        margin-bottom: 30px;
      }
      .service-item {
        margin-bottom: 30px;
      }
      .find-us #map {
        margin-bottom: 30px;
      }
      .find-us .left-content {
        margin-left: 0px;
      }
      .send-message .accordion {
        margin-top: 30px;
        margin-left: 0px;
      }
    }
    
    @media (max-width: 992px) {
      .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 32px;
      }
      .navbar .navbar-brand {
        width: auto;
      }
      .navbar:after {
        display: none;
      }
      #navbarResponsive {
          z-index: 99999;
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          text-align: center;
          background-color: #fff;
          box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
      }
      .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
      }
      .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
      }
      .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e!important;
      }
      .navbar .navbar-nav .nav-link:hover,
      .navbar .navbar-nav .active>.nav-link,
      .navbar .navbar-nav .nav-link.active,
      .navbar .navbar-nav .nav-link.show,
      .navbar .navbar-nav .show>.nav-link {
        color: #f33f3f!important;
        border-bottom: none!important;
        padding-bottom: 15px;
      }
      .product-item .down-content h4 {
        margin-bottom: 10px;
      }
      .product-item .down-content h6 {
        margin-bottom: 20px;
      }

      .Scaled-down {
        width: 3000px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
        display: block;
      }
      .page-heading.about-heading.header-text h4,
      .page-heading.about-heading.header-text h4 {
        font-size: 2rem; /* Adjust font size as needed */
        font-weight: bold;
      }

    


    }

    .holder{
      width: 900px;
      min-height: auto;
      margin: 20px auto;
    }
    .holder ul{
      list-style: none;
      padding: 0;
    }
    .holder ul:after{
      content: '';
      display:table;
      clear: both;
    }
    .holder ul li{
      width: 30%;
      margin: 30px 10px 0;
      height: 150px;
      background-size: cover;
      background-position: center;
      float: left;
      box-shadow: 0 5px 5px 1px rgba(0,0,0,.5);
    }
    .holder ul li:nth-child(1n + 4){
      max-height: 0;
      opacity: 0;
      transition: 0.2s ease-in;
    }
    .holder .btn-area{
      display:block;
      background: #7f2a4b;
      color: #fff;
      cursor: pointer;
      text-align: center;
      font-weight: 900;
      width: 180px;
      line-height: 50px;
      margin: 50px auto 0;
      border-radius: 50px;
    }

    .holder .btn-area .btn2{
      display: none;
    }

    .holder #btnBox{
      display: none;
    }

    .holder #btnBox:checked~ul li:nth-child(1n + 4){
      max-height: 1000px;
      opacity: 1;transition: 0.2s ease-in;
    }
    