.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}

.process-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

